@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Genie's Shop</h2>
            <p>
                A shop of various curiousities that peak my interest. If you would like to register click the link below
            </p>
            <p><a class="btn btn-default" href="/Home/Registration"> Registration &raquo;</a></p>
        </div>
    </div>